*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;

}
header img{
    width: 25vw;
    height: auto;
    position: absolute;
    top: 20px; 
    right: 20px;
}
header ul{
    margin-top: 35px;
    margin-left: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color:#5087bb;
    font-weight: 600;
}
a:hover{
    background-color: #e5b3f3;
    border-radius: 10px;
    padding: 3px;
}